/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --accent-color: #FF0070;
  --main-background-color: #000028;
  --main-text-color: #F1B2CE;
  --nav-color: #FF0070;
  --main-heading-color: #000028;
  --section-heading-color: #FF0070;
  --header-logo-color: #DB00FF;
  --footer-logo-color: #DB00FF;
  --main-gap: 10px;
  --main-text-size: 18px;
  --main-font-family: IBM Plex Mono, sans-serif;
  --main-line-height: 23.4px;
  --bold-font-weight: 700;
  --normal-font-weight: 400;
  --icon-before-gap: 38px;
  --icon-after-gap-end: 19px;
  --icon-after-gap-start: 18px;
  --width-heading-text: 100%;
  --page-spacing: 10px;
  --section-spacing: 50px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --main-background-color: #000028;
    --main-text-color: #F1B2CE;
    --nav-color: #FF0070;
    --main-heading-color: #000028;
    --section-heading-color: #FF0070;
    --header-logo-color: #DB00FF;
    --footer-logo-color: #DB00FF;
    --main-gap: 10px;
    --main-text-size: 18px;
    --main-font-family: IBM Plex Mono, sans-serif;
    --main-line-height: 23.4px;
    --bold-font-weight: 700;
    --normal-font-weight: 400;
    --icon-before-gap: 38px;
    --icon-after-gap-end: 19px;
    --icon-after-gap-start: 18px;
    --width-heading-text: 100%;
    --page-spacing: 10px;
    --section-spacing: 50px;
  }

  .page {
    background-color: var(--main-heading-color);
  }

  .header__icon::before {
    position: absolute;
    display: block;
    inset-inline-end: var(--icon-before-gap);
    inset-block-start: var(--main-gap);
    content: 'rec';
    font-family: var(--main-font-family);
    font-weight: var(--normal-font-weight);
    font-size: var(--main-text-size);
    line-height: 25px;
    text-transform: uppercase;
    color: var(--accent-color);
    z-index: 2;
  }

  .header__icon::after {
    position: absolute;
    display: block;
    inset-inline-end: var(--icon-after-gap-end);
    inset-block-start: var(--icon-after-gap-start);
    background: var(--accent-color);
    content: '';
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
    height: 9px;
    width: 9px;
    z-index: 2;
  }
}

@media (width >=768px) {
  :root .theme_dark {
    --main-gap: 20px;
    --header-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --footer-logo-size: clamp (7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --icon-after-gap-start: 28px;
    --icon-before-gap: 48px;
    --width-heading-text: 50%;
    --page-spacing: 20px;
    --section-spacing: 80px;
    --icon-after-gap-end: 29px;
  }
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-color: var(--main-heading-color);

  .header {
    background-image: url(../images/cover-image-dark.png);
  }
}

.page.theme_dark .header__icon::before {
  position: absolute;
  display: block;
  inset-inline-end: var(--icon-before-gap);
  inset-block-start: var(--main-gap);
  content: 'rec';
  font-family: var(--main-font-family);
  font-weight: var(--normal-font-weight);
  font-size: var(--main-text-size);
  line-height: 25px;
  text-transform: uppercase;
  color: var(--accent-color);
  z-index: 2;
}

.page.theme_dark .header__icon::after {
  position: absolute;
  display: block;
  inset-inline-end: var(--icon-after-gap-end);
  inset-block-start: var(--icon-after-gap-start);
  background: var(--accent-color);
  content: '';
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
  height: 9px;
  width: 9px;
  z-index: 2;
}