/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --main-background-color: #FFF1F7;
  --main-text-color: #353430;
  --nav-color: #353430;
  --nav-color-with-opacity: rgb(53, 52, 48, 0.4);
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --header-logo-color: #FFC2E6;
  --footer-logo-color: #FFC2E6;
  --icon-visibility: none;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --main-background-color: #FFF1F7;
    --main-text-color: #353430;
    --nav-color: #353430;
    --nav-color-with-opacity: rgb(53, 52, 48, 0.4);
    --main-heading-color: #353430;
    --section-heading-color: #353430;
    --header-logo-color: #FFC2E6;
    --footer-logo-color: #FFC2E6;
    --icon-visibility: none;
    --background-image: url(../images/cover-image-light.png);
  }
}