@supports (block-size: 100dvb) {
  .header {
    block-size: 100dvb;
  }
}

@media (width >=768px) {
  .header__main-title {
    margin-inline-start: -20px;
  }

  .double-section {
    grid-template-columns: 1fr 2fr;
  }

  .gallery .text-heading {
    margin-block-end: var(--main-gap);
  }

  .section-image {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street"
      "tape street street";
    align-items: start;
  }

  .image-sunset {
    grid-area: sunset;
  }

  .image-ice-cream {
    grid-area: ice-cream;
  }

  .image-tape {
    grid-area: tape;
  }

  .image-books {
    grid-area: books;
  }

  .image-street {
    grid-area: street;
  }
}

@media (768px <=width <=1024px) {
  .section-indentation {
    gap: var(--section-indentation);
  }

  .section-heading {
    max-width: 236px;
  }
}

@media (width >=1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .section-indentation {
    gap: var(--section-indentation);
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .section-heading {
    max-width: 315px;
  }

  .text-block {
    max-width: 649px;
  }

  .factors .texts-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .header__text {
    margin-block-start: 20px;
  }
}

.page {
  background-color: var(--main-background-color);
  font-family: var(--main-font-family);
  font-weight: var(--normal-font-weight);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  color: var(--main-text-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__icon::before {
  position: absolute;
  display: var(--icon-visibility);
  inset-inline-end: var(--icon-before-gap);
  inset-block-start: var(--main-gap);
  content: 'rec';
  font-family: var(--main-font-family);
  font-weight: var(--normal-font-weight);
  font-size: var(--main-text-size);
  line-height: 25px;
  text-transform: uppercase;
  color: var(--accent-color);
  z-index: 2;
}

.header__icon::after {
  position: absolute;
  display: var(--icon-visibility);
  inset-inline-end: var(--icon-after-gap-end);
  inset-block-start: var(--icon-after-gap-start);
  background: var(--accent-color);
  content: '';
  border-radius: 50%;
  box-shadow: var(--icon-box-shadow);
  height: 9px;
  width: 9px;
  z-index: 2;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: var(--header-spacing);
  padding-block: var(--page-spacing);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--page-spacing);
  inset-block-start: var(--page-spacing);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--page-spacing);
  inset-block-end: var(--page-spacing);
}

.page-spacing {
  padding-inline: var(--page-spacing);
}

.header__theme-menu {
  display: grid;
  justify-items: center;
  justify-content: end;
}

.header__theme-menu-item {
  width: 70px;
  text-align: center;
}

.header__theme-menu-button {
  display: grid;
  justify-content: center;
  font-family: var(--main-font-family);
  font-weight: var(--normal-font-weight);
  font-size: var(--main-text-size);
  line-height: 18px;
  color: var(--nav-color);
  background: none;
  border: none;
  text-transform: lowercase;
  appearance: none;
  cursor: pointer;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--nav-color-with-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--nav-color);
}

.header__main-title {
  justify-self: flex-start;
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);
  font-size: var(--size);
  line-height: 95.7px;
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  justify-self: flex-end;
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  max-width: var(--width-heading-text);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-heading-color);
}

.texts-block {
  display: grid;
  gap: var(--main-gap);
}

.text-block {
  display: grid;
  gap: 10px;
  grid-template-rows: min-content 1fr;
}

.double-section .text-block {
  justify-self: flex-end;
}

.section-indentation {
  display: grid;
  margin-block-end: var(--section-spacing);
}

.section-heading {
  display: block;
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  color: var(--section-heading-color);
  margin-block-end: 20px;
}

.text-heading {
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.content-text {
  font-family: var(--main-font-family);
  font-weight: var(--normal-font-weight);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  color: var(--main-text-color);
}

.research-link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.research-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.research-link:focus {
  outline: none;
}

.research-link:focus-visible {
  border: 1px solid var(--main-text-color);
  outline: none;
}

.factors {
  display: grid;
  gap: 0px;
}

.text-subheading {
  font-family: var(--main-font-family);
  font-weight: var(--normal-font-weight);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.gallery .text-heading {
  margin-block-end: var(--page-spacing);
}

.section-image {
  display: grid;
  gap: var(--page-spacing);
}

.section-image__image {
  object-position: 50% 50%;
  overflow: clip;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  height: 100dvh;
  margin-block-start: var(--footer-spacing);
}

.footer__main-title {
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);
  font-size: var(--size);
  line-height: 0.825;
  color: var(--footer-logo-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}
