/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --main-background-color: #000028;
  --main-text-color: #F1B2CE;
  --nav-color: #FF0070;
  --nav-color-with-opacity: rgba(255, 0, 112, 0.4);
  --main-heading-color: #000028;
  --section-heading-color: #FF0070;
  --header-logo-color: #DB00FF;
  --footer-logo-color: #DB00FF;
  --main-gap: 10px;
  --main-text-size: 18px;
  --main-font-family: 'IBM Plex mono', Courier, monospace;
  --main-line-height: 23.4px;
  --bold-font-weight: 700;
  --normal-font-weight: 400;
  --icon-before-gap: 38px;
  --icon-after-gap-end: 19px;
  --icon-after-gap-start: 18px;
  --width-heading-text: 100%;
  --page-spacing: 10px;
  --section-spacing: 50px;
  --header-spacing: 40px;
  --footer-spacing: 40px;
  --size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --icon-visibility: block;
  --background-image: url(../images/cover-image-dark.png);
}

@media (width >=768px) {
  :root {
    --main-gap: 20px;
    --header-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --footer-logo-size: clamp (7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --icon-after-gap-start: 28px;
    --icon-before-gap: 48px;
    --icon-after-gap-end: 29px;
    --width-heading-text: 50%;
    --page-spacing: 20px;
    --section-spacing: 80px;
    --header-spacing: 60px;
    --footer-spacing: 60px;
    --size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}